body {
    background: url(http://cil.com.ve/4geeks/img/todolist-bg.jpg) center center
        fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

h1 {
    width: 778px;
}

#todoListForm {
    width: 778px;
}

.fa-trash {
    visibility: hidden;
}

.list-group-item:hover .fa-trash {
    visibility: visible;
}
